{% extends "_base.html" %}

{% block title %}TMTT 印字腳型不良分析{% endblock %}

{% block head_extra %}
    {% set tmtt_defect_css = frontend_asset('tmtt-defect.css') %}
    {% if tmtt_defect_css %}
    <link rel="stylesheet" href="{{ tmtt_defect_css }}">
    {% endif %}
{% endblock %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block scripts %}
    {% set tmtt_defect_js = frontend_asset('tmtt-defect.js') %}
    <script type="module" src="{{ tmtt_defect_js }}"></script>
{% endblock %}
